*{
    
}
input::placeholder {
    color: #707070; /* Цвет текста placeholder */
    font-family: 'Arkhip', sans-serif;
    font-size: 12px;
  }
  
.conteiner{
    display: grid;
    grid-template-columns: max-content max-content max-content auto max-content max-content  max-content;

    align-content: center;
    align-items: center;
    position: fixed;
    gap: 0.2rem;
    margin: 0px;
    width: 100vw;
    height: 5vh;
    right: 0px;
    top: 0px;
    background: linear-gradient(280deg, #361a64a1 0%, #20328ebf 100%);
    z-index: 2;
    padding:  0px 0.3rem 0px 0.8rem;
    box-sizing: border-box;
 
    justify-items: stretch;
}

.Logo{
    height: 2.1vh;
    width: 2.1vh;
    margin: 0px 0.5rem 0px 0px;
    padding: 0px;
    background: url(/public/Images/Icon/MenuLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    transition: all 0.2s;
    
}
.IconList{
    display: inline-flex;
    gap: 0.2rem;
}
.lineV2{
    position: relative;
    width: 1px;
    height: 60%;
    background: #757575;
}


.icon{
    height: 2.1vh;
    width: 2.1vh;
    margin: 5px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.Out{
    filter: brightness(0.7);
    border-radius: 3px;
    width: auto;
    padding: 2px 4px;
    height: inherit;
    background: #ffffff00;
    transition: all 0.3s;
}
.Out:hover {
    background: #4d4d4d9a;
    filter: brightness(1);
}
.ConteinerForm{
    display: grid;
    justify-items: center;
}
.Form{
    display: inline-flex;
    justify-content: flex-end;
    gap: 10px;
}
.InputSearch{
    color: #fff;
    background: #f0f8ff00;
    border: solid 1px #707070;
    border-radius: 15px;
    padding: 0px 0px 0px 10px;
    width: 50vw;
    height: 25px;
}
.InputSearch:focus-visible {
    border: solid 1px #ffffff;
    outline: none;
}
.ButtonSearch{
    position: absolute;
    width: 20px;
    margin: 0px;
    height: 20px;
    background: transparent;
    border: solid 0px #0000;
    border-radius: 11px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    transform: translate(-15%, -50%);
    background-image: url(/public/Images/Icon/Search.png);
    filter: brightness(0.7);
    transition: all .2s;
}
.ButtonSearch:hover{
    filter: brightness(1);
}