*{
    
}

.conteiner{
    display: grid;
    grid-template-columns: max-content max-content max-content 2px max-content;
    align-content: center;
    align-items: center;
    position: fixed;
    gap: 10px;
    margin: 0px;
    width: max-content;
    height: 5vh;
    right: 0px;
    top: 0px;
    background-color: #2b2b2b00;
    z-index: 2;
    padding: 0 10px; 
    box-sizing: border-box;
    justify-content: end;
}

.lineV2{
    position: relative;
    width: 1px;
    height: 70%;
    background: #ffffff;
}


.icon{
    height: 2.5vh;
    width: 2.5vh;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    transition: all 0.2s;
    filter: brightness(0.7);
}

.icon:hover {
    filter: brightness(1);
}