.switch {
    background: url(/public/Images/UI/darktem.jpg);
}
.switch:checked{
    background: url(/public/Images/UI/whitetem.jpg);
}
.switch{
    position: relative;
    width: 11vh;
    height: 3.5vh;
    margin: 0px;
    appearance: none;
    -webkit-appearance: none;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    box-shadow: inset 0px 0px 2px rgba(255,255,255,.7);
    transition: background-image .7s ease-in-out;
    outline: none;
    cursor: pointer;
    overflow: hidden;
  }
  
  .switch:checked{
    background-size: cover;
    transition: background-image 1s ease-in-out;
  }
  
  
  .switch:after{
    content: '';
    width: 2.5vh !important;
    height: 2.5vh !important;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateX(0px) translate(-50%, -50%); 
   
    animation: off .7s forwards cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
  }
  @keyframes off{
    0%{
        left: 90%;
        top: 50%;
        transform: translateX(0px) translate(-50%, -50%); 
      width: 35px;
    }
    50%{
      width: 60px;  
      border-radius: 25px;   
    }
    100%{
        left: 16%;
        top: 50%;
        transform: translateX(0px) translate(-50%, -50%); 
        width: 35px;
    }
  }
  .switch:checked:after{
    animation: on .7s forwards cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
  }
  @keyframes on{
    0%{
        left: 16%;
        top: 50%;
        transform: translateX(0px) translate(-50%, -50%); 
        width: 35px;
    }
    50%{
      width: 60px;  
      border-radius: 25px;   
    }
    100%{
        left: 85%;
        top: 50%;
        transform: translateX(0px) translate(-50%, -50%); 
        width: 35px;
    }
  }
  .switch:checked:before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    top: 10%;
    transform: translate(-50%, -50%);
    transform-origin: 53px 10px;
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
    animation: sun .7s forwards ease;
  }
  @keyframes sun{
    0%{
      transform: rotate(170deg);
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
    }
    50%{
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
    }
    90%{
      background-color: #f5daaa;
      box-shadow: 0px 0px 10px #f5deb4,
      0px 0px 20px #f5deb4,
      0px 0px 30px #f5deb4,
      inset 0px 0px 2px #efd3a3;
      filter: blur(1px);
    }
    100%{
      transform: rotate(0deg);
      background-color: #f5daaa;
      box-shadow: 0px 0px 10px #f5deb4,
      0px 0px 20px #f5deb4,
      0px 0px 30px #f5deb4,
      inset 0px 0px 2px #efd3a3;
      filter: blur(1px);
    }
  }
  .switch:before{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    filter: blur(1px);
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;
    transform-origin: 38px 8px;
    animation: moon .7s forwards ease;
    left: 20%;
    top: 10%;
    transform: translate(-50%, -50%);
    
  }
  @keyframes moon{
    0%{
      transform: rotate(0deg);
      filter: blur(1px);
    }
    50%{
      filter: blur(1px);
    }
    90%{
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
  
    }
    100%{
      transform: rotate(170deg);
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
    }
  }

.ButtonAnder{
  position: fixed;
  z-index: 0;
  margin: 10px 7px;
  bottom: 0px;
}
.switch-label{
  display: block;
  width: 11vh;
  height: 3.5vh;
}