
.button{ 
    font-family: 'Arkhip', sans-serif;
    display: block;
    font-size: 17px;


}

.log{
    height: 2.1vh;
    width: 2.1vh;
    margin: 5px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;

}
.Out{
    filter: brightness(0.7);
    border-radius: 3px;
    width: auto;
    padding: 2px 4px;
    height: auto;
    background: rgba(255, 255, 255, 0);
    transition: all 0.3s ease 0s;
}
.Out:hover {
    background: #4d4d4d9a;
    filter: brightness(1);
}
.p{
    transform: skew(30deg);
}
.button {
    width: 210px;
    height: 43px;
    box-sizing: border-box;
    transform: skew(150deg);
    --borderWidth: -5px;
    background: linear-gradient(180deg, rgba(29, 31, 30, 1) 0%, rgba(13, 13, 13, 1) 100%);
    position: relative;
    border-radius: var(--borderWidth);
  }

  .button:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #361a67, #20328e, #361a67, #361a67, #20328e, #20328e, #361a64, #361a67);
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }

  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

