
.button{ 
    font-family: 'Arkhip', sans-serif;
    display: block;
    font-size: 17px;


}

.log{
    height: 3.5vh;
    width: 3.5vh;
    margin: 0px;    
    padding: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}


.button {
    width: 210px;
    height: 43px;
    box-sizing: border-box;
    position: relative;

    margin: 0.5vh;
    --borderWidth: 3px;
    background: linear-gradient(180deg, rgba(29, 31, 30, 1) 0%, rgba(13, 13, 13, 1) 100%);
    position: relative;
    border-radius: var(--borderWidth);
  }

  .button:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #361a67, #361a64, #20328e, #4c517d, #5073b8, #df658d, #07b39b, #3bb8e3);
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }

  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }