.Container {
  height: calc(100% - 2rem);
  display: grid;
  margin: 1rem;
  gap: 5px;
  overflow-y: scroll;
  align-items: center;
  justify-items: start;
}

.Container::-webkit-scrollbar {
  height: 2rem;
  width: 2rem;
  margin: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}


.Container::-webkit-scrollbar-track {
  background: #555;
  transition: all 0.3s;
}

.Container::-webkit-scrollbar-thumb {

  background: #414141;

  transition: all 0.3s;
}

.Container::-webkit-scrollbar-thumb:hover {
  background: #361a64;
}
