

  
  .ButtonStart {

    display: inline-block;
    position: relative;
    margin: 0;
    padding: 7px;
    width: 10rem;
    min-width: max-content;
    color: #fff;
    background: linear-gradient(280deg, #361a64a1 0%, #20328ebf 100%);
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform: skewX(-25deg); 
    border: solid 3px;
    border-image: linear-gradient(80deg, #896abb 0%, #5361a8 100%) 3; 
    transition: all 0.3s;
  }
  

  
  .ButtonStart span {
    color: #fff;
    font-family: 'Arkhip', sans-serif;
    display: block;
    transform: skewX(25deg); 
    border-image: linear-gradient(80deg, #361a64 0%, #20328e 100%) 3; 
  }

  .ButtonStart:hover {
    color: #00d4ed !important;
    border-image: linear-gradient(85deg, #00d4ed, #0353ff) 2; 
  }