.fon{
    display: grid;
    background-image: url(/public/Images/cont_4_1.png);
    filter: drop-shadow(23px 10px 3px #00000086);
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    align-content: stretch;

}
.slider{
    height: 65vh;
    width: 100%;
    display: grid;
    position: relative;
    margin: 0px;
    padding: 0px;
}
.contfooter{
    background: #4140401f;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 35vh;
    width: 100vw;
    overflow: hidden;
}


.ContButton{
    grid-area: ContButton;
    display: grid;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 5%;
    transform: translate(-0%, -0%);
}
.Author{
    grid-area: Author;
    display: grid;
    align-items: center;
    justify-items: center;
}
.FIcon{
    grid-template-columns: auto auto auto;
    grid-template-rows: 5vh auto;
    grid-area: FIcon;
    display: grid;
    grid-template-areas:
        "ItemIcon1 ItemIcon2 ItemIcon3"
        "fp3 fp3 fp3";
    column-gap: 0%;
    row-gap: 2vh;
    width: 15vw;
    align-content: center;
    justify-items: center;
    position: absolute;
    top: 5%;
    transform: translate(-0%, -0%); 
} 


.fp3{
    font-family: 'Arkhip', sans-serif;
    grid-area: fp3;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: justify;
    font-size: 12px;
}
.ContCopi{
    position: absolute;
    grid-area: ContCopi;
    display: grid;
    grid-template-areas:
        "FooterLogo fp1"
        "FooterLogo fp2";
        height: auto;
        width: auto;
        border-radius: 10px;
        background-color: rgba(185, 0, 0, 0.363);
}
.fp1{
    width: 100%;
    font-family: 'Arkhip', sans-serif;
    grid-area: fp1;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: justify;
    font-size: 12px;
    background: #7d7d7d29;

}
.fp2{
    width: 100%;
    font-family: 'Arkhip', sans-serif;
    grid-area: fp2;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: justify;
    font-size: 12px;
    background: #7d7d7d29;
    margin: 0px 5px 5px 5px;
    padding: 0.5vh;
}
.FooterLogo{
    grid-area: FooterLogo;
    display: grid;
    justify-items: center;
    align-items: center;
}

.ContMap{
    display: block;
    position: relative;
    height: 50vh;
    width: 85vw;
    border-radius: 10px;
    background-color: #361a6463;
}


.footer{
    height: 95%;
    width: 85vw;
    position: relative;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 85% 10% 0px;
    grid-template-areas:
        "Links Navi NewItem"
        "ContCopi ContCopi ContCopi"
        "Author Author Author";
    justify-content: center;
    gap: 0px;
    justify-items: center;
    align-items: center;
    align-content: stretch;
}
.Links{
    grid-area: Links;
    position: relative;
    display: block;
    height: 80%;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(2, 129, 80, 0.322);
}
.Navi{
    grid-area: Navi;
    position: relative;
    display: block;
    height: 80%;
    width: 90%;
    border-radius: 10px;
    background-color: rgba(0, 108, 231, 0.445);
}
.NewItem{
    grid-area: NewItem;
    position: relative;
    display: block;
    height: 80%;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(8, 0, 128, 0.541);
}