.container{
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgba(29,31,30,1) 0%, rgba(13,13,13,1) 100%);
}
.fon{
    display: grid;
    background-image: url(/public/Images/cont_4_1.png);
    filter: drop-shadow(23px 10px 3px #00000086);
    height: 100vh;
    width: 100%;
    margin: 0px;    
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.slider{
    height: 50vh;
    width: 100%;
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
}
.contfooter{
    background: #7d7d7d1c;
    display: grid;
    justify-items: center;
}
.footer{
    height: 50vh;
    width: 83%;
    position: relative;
    margin: 0px;
    padding: 0px;
    
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "ContButton Author Author FIcon FIcon"
    "fp1 fp1 FooterLogo fp2 fp2";
    
}
.ContButton{
    grid-area: ContButton;
    display: grid;
    align-items: center;
}
.Author{
    grid-area: Author;
    display: grid;
    align-items: center;
}
.FIcon{
    grid-area: FIcon;
    display: grid;
    align-items: center;
} 
.fp1{
    grid-area: fp1;
    display: grid;
    align-items: center;
}
.fp2{
    grid-area: fp2;
    display: grid;
    align-items: center;
}
.FooterLogo{
    grid-area: FooterLogo;
    display: grid;
    align-items: center;
}