.fon {
    display: grid;
    background-image: url(/public/Images/cont_4_1.png);
    filter: drop-shadow(23px 10px 3px #00000086);
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    align-content: stretch;
    filter: drop-shadow(23px 10px 3px #00000086);
}

.slider {
    height: 65vh;
    width: 100%;
    display: grid;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.contfooter {
    background: #4140401f;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 35vh;
    width: 100vw;
    overflow: hidden;
}


.ContButton {
    grid-area: ContButton;
    display: grid;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 5%;
    transform: translate(-0%, -0%);
}

.Author {
    grid-area: Author;
    display: grid;
    align-items: center;
    justify-items: center;
}

.FIcon {
    grid-template-columns: auto auto auto;
    grid-template-rows: 5vh auto;
    grid-area: FIcon;
    display: grid;
    grid-template-areas:
        "ItemIcon1 ItemIcon2 ItemIcon3"
        "fp3 fp3 fp3";
    column-gap: 0%;
    row-gap: 2vh;
    width: 15vw;
    align-content: center;
    justify-items: center;
    position: absolute;
    top: 5%;
    transform: translate(-0%, -0%);
}


.fp3 {
    font-family: 'Arkhip', sans-serif;
    grid-area: fp3;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: justify;
    font-size: 12px;
}

.ContCopi {
    grid-area: ContCopi;
    position: absolute;
    padding: 5px 10px;
    display: grid;
    grid-template-areas:
        "FooterLogo fp1"
        "FooterLogo fp2";
    height: auto;
    width: 98.5%;
    border-radius: 10px;
    filter: brightness(0.7);
    transition: all 0.3s;
}

.ContCopi:hover {
    filter: brightness(1);
}

.fp1 {
    padding: 0px;

    width: 100%;
    font-family: 'Arkhip', sans-serif;
    grid-area: fp1;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 12px;
    color: #ffffff;


}

.fp2 {
    width: 100%;
    font-family: 'Arkhip', sans-serif;
    grid-area: fp2;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: justify;
    font-size: 12px;
    background: #7d7d7d29;
    margin: 0px 5px 5px 5px;
    padding: 0.5vh;
}

.FooterLogo {
    grid-area: FooterLogo;
    display: grid;
    justify-items: center;
    align-items: center;
}

.ContMap {
    display: grid;
    height: 65vh;
    width: 100vw;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background: url(/public/Images/form.png) no-repeat center center / cover;

}


.footer {
    height: 95%;
    width: 85vw;
    position: relative;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: max-content 70% max-content;
    grid-template-rows: 80% 5% 0px;
    grid-template-areas:
        "Navi NewItem Links"
        "ContCopi ContCopi ContCopi"
        "Author Author Author";
    justify-content: center;
    gap: 10px;
    justify-items: center;
    align-items: center;
    align-content: stretch;
}

.Navi {
    grid-area: Navi;
    position: relative;
    display: block;
    height: 80%;
    width: max-content;
    border-radius: 10px;
    background-color: rgb(0 0 0 / 41%);
}

.NewItem {
    grid-area: NewItem;
    position: absolute;

    display: block;
    height: 80%;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(0 0 0 / 41%);

}



.Links {
    grid-area: Links;
    position: relative;
    display: grid;
    height: 80%;
    width: max-content;
    gap: 10px;
    border-radius: 10px;
    background-color: rgb(0 0 0 / 41%);
    justify-items: start;
    align-items: center;
    align-content: center;
    justify-content: start;
}

.ElemLinks {
    display: inline-flex;
    align-items: center;
    padding: 3px 10px;
    margin: 0px 10px;
    width: -webkit-fill-available;
    gap: 10px;
    border-radius: 5px;
    transition: all .3s;
}

.ElemLinks:hover {

    background: rgb(42 42 42 / 82%);
}

.Icon {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.7);
    transition: all .3s;
}

.Icon:hover {

    filter: brightness(1);
}

.IconLInked {
    background-image: url(/public/Images/Icon/Linked.png);
}

.IconGit {
    background-image: url(/public/Images/Icon/icongit_w.png);
}

.IconLeet {
    background-image: url(/public/Images/Icon/LeetCode.png);
}

.IconInst {
    background-image: url(/public/Images/Icon/Instagram.png);
}

.A {
    font-family: 'Arkhip', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}