
.verticalSliderContainer {
  width: calc(50vw - 70px);
  height: 90%;
  position: absolute;
  margin: 0px 70px 0px 0px;
  padding: 0px;
  background-color: rgb(33 33 33);
  border-radius: 10px;
  right: 0px;
}
  
  .verticalSlider {
    display: flex;
    flex-direction: column; /* Изменили направление флекс-контейнера на вертикальное */
    transition: transform 0.5s ease-in-out;
    height: 100%;
    justify-content: center;
  }
  
  .sliderItem {
    background: #ffffff00;
    min-height: 7vh;
    width: auto;
    box-sizing: border-box;
    position: relative;
    border: solid 1px;
    border-radius: 2px;
    margin: 5px;
    display: grid;
    grid-template-columns: 10% 20% 25% ;
    grid-template-areas: "imgs names caption";
    align-items: center;
    justify-content: start;
    justify-items: start;
  }
  
  .sliderItem img {
    width: 5vh;
    height: 5vh;
    background: azure;
    display: block;
    position: absolute;
    margin: 1vh;

  }
  .imgs{
    grid-area: imgs;
  }
  .names{
    font-family: 'Arkhip', sans-serif;
    grid-area: names;
    position: absolute;


    padding: 5px;
    border-radius: 5px;
  }
  .caption {
    grid-area: caption;
    position: absolute;

    background-color: rgb(57 57 57 / 42%);

    border-radius: 5px;
    width: 100%;
    height: 70%;
    display: grid;
    align-items: center;
    justify-items: center;
  }
  
  .prevBtn,
  .nextBtn {
    position: absolute;
    background-color: #ffffff00;
    color: #fff;
    border: none;
    padding: 0px;
    cursor: pointer;
    transform: rotate(90deg);
    
  }
  
  .prevBtn {
    top: 10px; /* Сдвигаем кнопку вверх */
    left: 50%;
    transform-origin: center center;
    transform:  scale(3) rotate(90deg);

  }
  
  .nextBtn {
    bottom: 10px; /* Сдвигаем кнопку вниз */
    left: 50%;
    transform-origin: center center;
    transform:  scale(3) rotate(90deg);
  }
  