/* HorizontalSlider.module.css */

.horizontalSliderContainer {
  width: 90vw;
  margin: auto;
  height: 50vh;
  position: relative;
  overflow: hidden;
  display: grid;
  justify-content: center;

}

.horizontalSlider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 85vw;
  height: 100%;
}

.sliderItem {

  width: 20%;
  box-sizing: border-box;
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;
}

.sliderItem img {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
}

.prevBtn,
.nextBtn {
  position: absolute;
  top: 50%;
  background-color: #ffffff00;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prevBtn {
  padding: 0px;
  margin: 0px;
  left: 10px;
  position: absolute;
  top: 50%;
  transform: scale(3) translate(-0%, -50%);
}

.nextBtn {
  padding: 0px;
  margin: 0px;
  right: 10px;
  position: absolute;
  top: 50%;
  transform: scale(3) translate(-0%, -50%);
}
