*{
    margin: 0;
    padding: 0;
   
}


.content{
    display: grid;

    margin: 0px;
    padding: 0px;
    width: 75vw;
    height: max-content;
    overflow: hidden;
}
.startfon {
    filter: drop-shadow(23px 10px 3px #00000086);
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: grid;
    justify-items: center;
    align-content: space-around;
    justify-content: center;
    align-items: center;
  
}
.P1{
    text-align: center;
    font-family: 'Arkhip', sans-serif;
    font-size: 16px;
    width: 70%;
    float: right;
    display: block;
    position: relative;
    text-align: justify;
    top: 0%;
    left: 45%;
    transform: translate(-50%, -0%);
}
.H1{
    font-family: 'Arkhip', sans-serif;
    font-size: 10vh;
}


.ContainerPopularList{
    position: relative;
    display: grid;
    width: calc(100vw - 100px);
    height: 50vh;
}
.H2{
    font-family: 'Arkhip', sans-serif;
    font-size: 4vh;
    width: 100%;
    margin: 10px 0px;
}