*{
    margin: 0;
    padding: 0;
    color: white;
}
.container{
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgba(29,31,30,1) 0%, rgba(13,13,13,1) 100%);
}
.fon{
    background-image: url(/public/Images/Table.png);
    filter: drop-shadow(23px 10px 3px #00000086);
    height: 100vh;
    width: 100%;
    margin: 0px;    
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.content{
    display: grid;
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 40%;
    height: max-content;
    top: 15%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.P1{
    text-align: center;
}