.container_d{
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(180deg, rgba(29,31,30,1) 0%, rgba(13,13,13,1) 100%);
  color: #fff !important;
}
.fon_d{
  display: grid;
  background-image: url(/public/Images/cont_4_1.png);
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
 
  align-items: end;
  justify-items: center;
}
.ItemAuthor_d{
  background-image: url(/public/Images/Icon/iconauthor.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 44vw;
  height: 42vh;
  top: 25%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(-20deg);
  z-index: 0;
}
.ItemIcon1_d{
  background-image: url(/public/Images/Icon/LinkedD.png);
  grid-area: ItemIcon1;
  background-size: contain;
  background-repeat: no-repeat;
  width: 5vh;
  height: auto;
}
.ItemIcon2_d{
  background-image: url(/public/Images/Icon/icongit.png);
  grid-area: ItemIcon2;
  background-size: contain;
  background-repeat: no-repeat;
  width: 5vh;
  height: auto;
}
.ItemIcon3_d{
  background-image: url(/public/Images/Icon/Instagram.png);
  grid-area: ItemIcon3;
  background-size: contain;
  background-repeat: no-repeat;
  width: 5vh;
  height: auto;
}
.FooterLogo_d{
  background-image: url(/public/Images/Icon/Logo_vert_2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 3vh;
  height: 7vh;
  right: 0px;
  position: relative;
}

.sliderItem_d {
  width: 20%;
  box-sizing: border-box;
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-rows: auto 12% 20%;
  align-items: center;
  justify-items: center;
  margin: 0.5vh;
  --borderWidth: 2px; 
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.sliderItem_d:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #361a67, #361a64, #20328e, #4c517d, #5073b8, #df658d, #07b39b, #3bb8e3);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.startfon_d{
  background-image: url(/public/Images/Table.png);
}

.st_container_d{
  color: #fff !important;
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(180deg, rgba(29,31,30,1) 0%, rgba(13,13,13,1) 100%);
}

.login_d{
  background-image: url(/public/Images/UI/User3.png);
}


.linked_d{
  background-image: url(/public/Images/Icon/Linked.png);
}
.github_d{
  background-image: url(/public/Images/Icon/icongit_w.png);
}
.instag_d{
  background-image: url(/public/Images/Icon/Instagram.png);
}


.icon_user_d{
  background-image: url(/public/Images/Icon/user_w.png);
}
.icon_pass_d{
  background-image: url(/public/Images/Icon/password_w.png);
}

.icon_telephone{
  background: url(/public/Images/Icon/Phone.png) no-repeat center center / cover;
}