.container_w{
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(180deg, rgb(156, 156, 156) 0%, rgb(255 255 255)100%);
  color: #000 !important;
}

.fon_w{
    display: grid;
    background-image: url(/public/Images/cont_4_w.png);
    filter: drop-shadow(23px 10px 3px #00000086);
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    align-content: space-between;
    align-items: end;
  }

  .ItemAuthor_w{
    background-image: url(/public/Images/Icon/iconauthor_w.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 44vw;
    height: 42vh;
    top: 25%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(-20deg);
    z-index: -1;
  }
  .ItemIcon1_w{
    background-image: url(/public/Images/Icon/iconid_w.png);
    grid-area: ItemIcon1;
    background-size: contain;
    background-repeat: no-repeat;
    width: 5vh;
  }
  .ItemIcon2_w{
    background-image: url(/public/Images/Icon/icongit_w.png);
    grid-area: ItemIcon2;
    background-size: contain;
    background-repeat: no-repeat;
    width: 5vh;
    height: auto;
  }
  .ItemIcon3_w{
    background-image: url(/public/Images/Icon/iconinst_w.png);
    grid-area: ItemIcon3;
    background-size: contain;
    background-repeat: no-repeat;
    width: 5vh;
    height: auto;
  }
  .FooterLogo_w{
    background-image: url(/public/Images/Icon/Logo_vert_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3vh;
    height: 7vh;
    right: 0px;
    position: relative;
  }

  .sliderItem_w {
    width: 20%;
    box-sizing: border-box;
    position: relative;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: auto 12% 20%;
    align-items: center;
    justify-items: center;
    margin: 0.5vh;
    --borderWidth: 2px;
    background: #c3c3c3;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .sliderItem_w:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #361a67, #361a64, #20328e, #4c517d, #5073b8, #df658d, #07b39b, #3bb8e3);
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .startfon_w{
    background-image: url(/public/Images/Table_w.png);

}
.st_container_w{
  color: #000 !important;
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(180deg, rgb(156, 156, 156) 0%, rgb(255 255 255)100%);
}

.login_w{
  background-image: url(/public/Images/UI/LogInW.png);
}


.linked_w{
  background-image: url(/public/Images/Icon/iconid_w.png);
}
.github_w{
  background-image: url(/public/Images/Icon/icongit_w.png);
}
.instag_w{
  background-image: url(/public/Images/Icon/iconinst_w.png);
}

.icon_user_w{
  background-image: url(/public/Images/Icon/user_w.png);
}
.icon_pass_w{
  background-image: url(/public/Images/Icon/password_w.png);
}

