.Conteiner {
    height: 100vh;
    width: 100vw;
}

.ConteinerElems {
    display: inline-flex;
    position: absolute;
    height: calc(100vh - 5vh);
    width: 100vw;
    bottom: 0px;
    background: #0787;
}
.RightElem{
    display: grid;
    position: relative;
    height: 100%;
    width: 300px;
  
    background: rgba(0, 187, 216, 0.467);
}
.MyInfo{
    background: rgba(216, 184, 0, 0.467);
}
.MyList{
    background: rgba(216, 0, 180, 0.467);
}
.MyLink{
    background: rgba(61, 216, 0, 0.467);
}
.LeftElem{
    display: grid;
    position: relative;
    height: 100%;
    width: calc(100% - 300px);

    background: rgba(0, 216, 83, 0.467);
}
.MyAlbum{
    background: rgba(22, 0, 216, 0.467);
}
.MyTreack{
    background: rgba(163, 163, 163, 0.467);
}
.MyRecomended{
    background: rgba(46, 46, 46, 0.467);
}