*{
    color: #fff;
    font-family: 'Arkhip', sans-serif;
}

.conteiner{
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-image: url(/public/Images/LogInFon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: 2;
    filter: drop-shadow(23px 10px 3px #00000086);
}

.conteiner_fon{
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgba(29, 31, 30, 1) 0%, rgba(13, 13, 13, 1) 100%);
    
}

.form_name{
    grid-area: form_name;
    display: block;
    width: 278px;
    padding: 5px;
    margin: 0px;
    border-width: 2px;
    line-height: 3.2vh;
    border-radius: 5px;
    border-color: #203b99;
    border-style: solid;
    color: white;
    background: rgba(255, 255, 255, .2);
    font-family: 'Jura', sans-serif;
    outline: none;
    transition: all 0.3s ease-in-out;
}
.form_password{
    grid-area: form_password; 
    display: block;
    width: 278px;
    padding: 5px;
    margin: 0px;
    border-width: 2px;
    line-height: 3.2vh;
    border-radius: 5px;
    border-color: #33126b;
    border-style: solid;
    color: white;
    background: rgba(255, 255, 255, .2);
    font-family: 'Jura', sans-serif;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.form{
    position: absolute;
    display: grid;
    margin: 0px;
    padding: 0px;
    width: 75vh;
    height: 75vh    ;

    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    border-radius: 50%;
    filter: none !important;
}
.conteiner_form{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "th2 th2"
        "thN form_name"
        "thP form_password"
        "button button";
    gap: 2.5vh;
    justify-items: center;
    align-items: center;
}
.button{grid-area: button;}
.th2{
    grid-area: th2;
    font-size: 3.5vh;
}
.icon_user{
    grid-area: thN;
    height: 4vh;
    width: 4vh;
    margin: 0px;    
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.icon_pass{
    grid-area: thP;
    height: 4vh;
    width: 4vh;
    margin: 0px;    
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.cont_text{
    font-size: 1.5vh;
    position: absolute;
    margin: 0px;
    padding: 5px;
    width: max-content;
    max-width: 90%;
    height: auto;
    background: #9595956b;
    display: inline-block;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cont_text::after {
    content: "";
    width: 100%;
    height: 3px;
    background: linear-gradient(-90deg, rgb(28 64 157) 0%, rgb(50 19 103) 100%);
    /*background: linear-gradient(-90deg, rgb(28 64 157) 0%, rgb(50 19 103) 100%);*/
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, -0%);
}

.TextVideo {
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;

  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    position: absolute;

  }

  .TextVideo {
    position: absolute; 
    top: 50%;
    left: 35%;
    background: #00000000;
    text-align: center;
    font-size: 35vh;
    color: #6b09ac !important;
    transform: translate(-50%, -50%) rotate(-45deg);
    mix-blend-mode: multiply;
  }

.FonTextUpper{
    color: #470175 !important;
}
.FonTextAnder{
    color: #42006e !important;
}
 