*{
    color: #fff;
    font-family: 'Arkhip', sans-serif;
    margin: 0px;
    padding: 0px;
    user-select: none;
}

.conteiner{
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: 2;
    background-image: url(/public/Images/LogInFon.png);
    filter: drop-shadow(23px 10px 3px #00000086);

}

.conteiner_fon{
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgba(29, 31, 30, 1) 0%, rgba(13, 13, 13, 1) 100%);
    
}

.form_name{
    grid-area: form_name;
    display: block;
    width: 278px;
    padding: 5px;
    margin: 0px;
    border-width: 1px;
    line-height: 3.2vh;
    border-radius: 5px;
    border-color: #ffffff;
    border-style: solid;
    color: white;
    background: rgb(0 0 0 / 33%);
    font-family: 'Jura', sans-serif;
    outline: none;
    transition: all 0.3s ease-in-out;
}
.form_password{
    grid-area: form_password; 
    display: block;
    width: 278px;
    padding: 5px;
    margin: 0px;
    border-width: 1px;
    line-height: 3.2vh;
    border-radius: 5px;
    border-color: #ffffff;
    border-style: solid;
    color: white;
    background: rgb(0 0 0 / 33%);
    font-family: 'Jura', sans-serif;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.form{
    position: absolute;
    display: grid;
    margin: 0px;
    padding: 0px;
    width: 935px;
    height: 574px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1a1a1a;
    filter: none !important;
}
.conteiner_form{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto max-content max-content max-content auto;
    grid-template-areas:
        "ContUp"
        "ContLogWith"
        "OR"
        "ContItem"
        "ContLow";
    gap: 2vh;
    justify-items: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    overflow: hidden;
    align-content: center;
    background-image: url(/public/Images/Beground_d.png);    
    
}
.ContUp{
    grid-area: ContUp;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "LogoLog"
        "th2";
    justify-items: center;
    gap: 10px;

}
.LogoLog{
    grid-area: LogoLog;
    height: 3vh;
    width: 10vh;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-image: url(/public/Images/Icon/Logo_2.png);
}
.th2{
    grid-area: th2;
    font-size: 2.3vh;
}
.ContLogWith{
    grid-area: ContLogWith;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    width: 36.5%;
    background: #89898936;
    border-radius: 10px;
    padding: 10px;
}
.OR{
    grid-area: OR;
    display: grid;
    grid-template-columns: auto;
}

.ContItAll{
    display: grid;
    gap: 2vh;
    grid-area: ContItem;
    background: #89898936;
    border-radius: 10px;
    padding: 10px;
}
.ContItem1{
   
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-areas: "thN form_name"; 
    justify-items: center;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 10px;
    
}
.ContItem2{

    display: grid;
    grid-template-columns: 10% auto;
    grid-template-areas:
        "thP form_password"
        "TI TI";
    justify-items: center;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 10px;

}
.ContLow{
    grid-area: ContLow;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "button button"
        "TI TI";
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 10px;

}

.TI{
    grid-area: TI;
    font-size: 1.3vh;
}







.button{grid-area: button;}

.icon_user{
    grid-area: thN;
    height: 4vh;
    width: 4vh;
    margin: 0px;    
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.icon_pass{
    grid-area: thP;
    height: 4vh;
    width: 4vh;
    margin: 0px;    
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.cont_text{
    font-size: 1.5vh;
    position: absolute;
    display: flex;
    margin: 0px;
    padding: 5px;
    width: 100%;
    height: auto;
    background: #9595956b;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}
.cont_text::after {
    content: "";
    width: 100%;
    height: 3px;
    background: linear-gradient(-90deg, rgb(28 64 157) 0%, rgb(50 19 103) 100%);
    /*background: linear-gradient(-90deg, rgb(28 64 157) 0%, rgb(50 19 103) 100%);*/
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, -0%);
}

.TextVideo {
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;

  }

  video {
    width: 100%;
    height: 100%;
    object-fit: none;
    left: 0;
    top: 0;
    position: absolute;

  }

  .TextVideo {
    position: absolute; 
    top: 50%;
    left: 35%;
    background: #00000000;
    text-align: center;
    font-size: 35vh;
    color: #6b09ac !important;
    transform: translate(-50%, -50%) rotate(-45deg);
    mix-blend-mode: multiply;
  }

.FonTextUpper{
    color: #470175 !important;
}
.FonTextAnder{
    color: #42006e !important;
}
.PW{
    font-family: '', sans-serif;
    font-size: 14px;
}
.LogApple{
    
    height: 3.5vh;
    width: 3.5vh;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-image: url(/public/Images/Icon/AppleD.png);
}
.LogGoogle{
    
    height: 3.5vh;
    width: 3.5vh;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-image: url(/public/Images/Icon/Google.png);
}
.LogMicrosoft{
    height: 3.5vh;
    width: 3.5vh;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: contain    ;
    background-position: bottom;
    background-image: url(/public/Images/Icon/Windows.png);
}
.conWith{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    transition: all 0.3s;
    padding: 2px;
    border-radius: 5px;    
   
}
.conWith:hover{
    background: rgba(95, 95, 95, 0.308);
}
.TI{
    font-size: 12px;
    font-weight: 400;
    transition: all 0.3s;
}
.TI:hover{
    color: #ebc801;
}
.TL{
    font-size: 12px;
    font-weight: 400;
    transition: all 0.3s;
}
.TL:hover{
    color: #ebc801;
}