.Cont{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: end;
    background: linear-gradient(180deg, rgba(29, 31, 30, 1) 0%, rgba(13, 13, 13, 1) 100%);
}
.ContText{
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 3vw;
    background-color: rgba(38, 39, 42, 0);
}
.TNews{
    grid-area: TNews;
    font-family: 'Arkhip', sans-serif;
    position: relative;
    font-size: 30px;
    left: 0px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: #fff !important;
}

.Cont .ContNews {
    height: 95vh;
    width: 94vw;
    margin: 0px;
    padding: 0px;
    gap: 10px;
    
    /* background-image: url(/public/Images/Beground_d.png); */
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff !important;
    justify-content: center;
    align-content: flex-start;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: inline-flex;

  }

.ContNav{
    position: absolute;
    height: 5vh;
    width: 100vw;
    background: #00000000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
}

.PageElem{
    font-family: 'Arkhip', sans-serif;
    color: #fff;
    display: grid;
    border-radius: 2px;
    padding: 10px 7px;
    margin: 0px;
    transition: all .3s;
    width: 10px;
    justify-items: center;
    background: black;
    align-items: center;
    justify-content: center;
  
}
.PageElem:hover {
    color: #00d4ed;
    background: rgba(134, 134, 134, 0);
    
}
.PageElemActive{
    border: solid 1px #00d4ed;
    color: #00d4ed;
    font-family: 'Arkhip', sans-serif;
    display: grid;
    border-radius: 0px;
    padding: 9px 6px;
    margin: 0px;
    transition: all .3s;
    width: 10px;
    justify-items: center;
    background: rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: center;
}