.TNews{
    font-family: 'Arkhip', sans-serif;
    position: absolute;
    font-size: 60px;
    left: 0px;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.ContNews{
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    background: linear-gradient(180deg, rgba(29, 31, 30, 1) 0%, rgba(13, 13, 13, 1) 100%);
    color: #fff !important;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.Elem{
    display: grid;
    width: 22vw;
    height: 45vh;
    background: rgb(41 41 41);
    position: relative;
    border-radius: 10px;
    justify-content: center;
    align-items: start;
    align-items: center;
    justify-items: start;
    grid-template-rows: max-content max-content auto max-content;
    gap: 10px;
}
.ElemImg{
    display: block;
    position: relative;
    width: auto;
    height: auto;
    max-width: 100%;
   
}
.EH5{
    font-family: 'Arkhip', sans-serif;
    height: max-content;
    font-size: 15px;
    padding: 0px 10px;
}
.EP{
    font-size: 14px;
    padding: 0px 10px;
}
.ElemURl{
    font-family: 'Arkhip', sans-serif;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    padding: 10px 10px;
}