
  .FormButton {
    grid-area: FormButton;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 7px;
    width: 10rem;
    color: #fff;
    background: linear-gradient(280deg, #361a64a1 0%, #20328ebf 100%);
    font-size: 16px;
    left: calc(50% - 5rem);
    overflow: hidden;
    transform: skewX(-25deg); 
    border: solid 3px;
    border-image: linear-gradient(80deg, #896abb 0%, #5361a8 100%) 3; 
    transition: all 0.3s;
  }
  
  .FormButton:hover {
    color: #00d4ed;
    border-image: linear-gradient(85deg, #00d4ed, #0353ff) 2; 
  }
  
  .FormButton span {
    font-family: 'Arkhip', sans-serif;
    display: block;
    transform: skewX(25deg); 
    border-image: linear-gradient(80deg, #361a64 0%, #20328e 100%) 3; 
  }
  