.FormButton{
    grid-area: FormButton;
    display: block;
    position: relative;
    margin: 0px;

    padding: 7px;
    width: 10rem;
    height: auto;
 
    color: rgb(255, 255, 255);
    background: linear-gradient(280deg, #361a64a1 0%, #20328ebf 100%);
    font-size: 16px;
    border-radius: 15px;
    border: solid 1px #ffffffb0;
    transition: all .3s;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.FormButton:hover{
    color: #00d4ed;
    background: linear-gradient(280deg, #361a64a1 0%, #20328ebf 100%);
    border: solid 1px #00d4ed;
}