
.Conteiner {
    display: inline-flex;
    position: relative;
    margin: 0px;
    padding: 0px;
    height: 55vh;
    margin-top: 5vh;
    width: 80vw;
    background: url(/public/Images/Forma.jpg) no-repeat center center/cover;
    border: solid 1px #192f93;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.ConteinerForm {
    display: grid;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: inherit;
    height: -webkit-fill-available;
    border-radius: 30px;
    justify-items: center;
    align-items: center;
    z-index: 1;
    /* background: url(/public/Images/Forma.png) no-repeat center center/cover; */

}

.Form {
    display: grid;
    position: relative;
    margin: 0px;
    padding: 0px; 
    width: inherit;
    height: inherit;
    align-items: center;
    align-content: center;
    grid-template-columns: auto auto;
    grid-template-areas:
        "Logotype Logotype Logotype"
        "Line Line Line"
        "LabelName LabelMail LabelQues"
        "LabelTitle LabelTitle LabelTitle"
        "LabelProblem LabelProblem LabelProblem"
        "FormButton FormButton FormButton";
    gap: 10px;
    font-family: 'Colibri', sans-serif;
    font-size: 14px;
    background-size: cover;
    justify-items: stretch;
    justify-content: center;
    border-radius: 30px;
    background-color: #0000008a;
}

.P1 {
    grid-area: P1;
    font-family: 'Arkhip', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    color: #fff;
}

.P2 {
    grid-area: P2;
}

.LabelName {
    font-family: 'Arkhip', sans-serif;
    grid-area: LabelName;
    display: grid;
    gap: 5px;
    font-size: 0.835rem;
}

.LabelMail {
    font-family: 'Arkhip', sans-serif;
    grid-area: LabelMail;
    display: grid;
    gap: 5px;
    font-size: 0.835rem;
}

.LabelProblem {
    font-family: 'Arkhip', sans-serif;
    grid-area: LabelProblem;
    display: grid;
    gap: 5px;
    font-size: 0.835rem;
}

.LabelPriority {
    font-family: 'Arkhip', sans-serif;
    grid-area: LabelPriority;
    display: grid;
    width: 50%;
    gap: 5px;
    font-size: 0.835rem;
}

.Logotype {
    grid-area: Logotype;
    width: 120px;
    height: 40px;
    position: relative;
    left: calc(50% - 60px);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/public/Images/Icon/Logo_2s.png);
}

.Input {
    width: 15vw;
    height: auto;
    margin: 5px 0px;
    padding: 10px 5px;
    border-radius: 5px;
    border: solid 2px #ffffff;
    background: #ffffff00;
    color: #ffffff !important;
}

.Textarea {
    resize: none;
    width: auto;
    height: auto;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px;
    border: solid 2px #ffffff;
    background: #ffffff00;
    color: #ffffff !important;
}

.LabelSelect {
    font-family: 'Arkhip', sans-serif;
    font-size: 13px;
    background: #ffffff00;
    border: solid 2px #ffffff;
    color: #fff;
    border-radius: 5px;
    padding: 4px;


}


.Input::placeholder {
    font-family: 'Arkhip', sans-serif;
    color: #9f9f9f !important; 
    font-size: 0.835rem;
}
  
.LabelOption {
    background: #474747e1;
    border: solid 2px #ffffff;
}

.LabelQues {
    font-family: 'Arkhip', sans-serif;
    grid-area: LabelQues;
    display: grid;
    gap: 5px;
    font-size: 0.835rem;
}

.Select {
    font-size: 0.835rem;
    width: auto;
    height: auto;
    margin: 5px 0px;
    padding: 10px 5px;
    border-radius: 5px;
    border: solid 2px #ffffff;
    background: #ffffff00;
    color: #9f9f9f !important;
    font-family: 'Arkhip', sans-serif;

}

.Select:hover {
    border-color: #888;
}

.Select option {
    padding: 10px;
    font-size: 0.835rem;
    background-color: #1b1a1c;
    color: #fff;
    border-radius: 10px;
    border: solid 2px #ffffff;
}

.Select option:hover {
    background-color: #f1f1f1;
}

.LabelTitle {
    font-family: 'Arkhip', sans-serif;
    grid-area: LabelTitle;
    display: grid;
    gap: 5px;
}
.InputT{
    width: auto;
    height: auto;
    margin: 5px 0px;
    padding: 10px 5px;
    border-radius: 5px;
    border: solid 2px #ffffff;
    background: #ffffff00;
    color: #ffffff !important;
}
.InputT::placeholder {
    font-family: 'Arkhip', sans-serif;
    color: #9f9f9f !important; 
    font-size: 0.835rem;
}
.Line{
    grid-area: Line;
    height: 1px;
    background: #ffffff;
}
