.Conteiner{
    display: inline-flex;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    border: solid 1px #192f93;
    border-radius: 30px;
}
.ConteinerForm{
    display: grid;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 65%;
    height: -webkit-fill-available;
    border-radius: 30px;
    justify-items: center;
    align-items: center;
    z-index: 1;
    background: url(/public/Images/Forma.png) no-repeat center center/cover;
    
}
.Form{
    display: grid;
    position: relative;
    margin: 0px;
    padding: 1% 5%;
    width: max-content;
    height: 90%;
    align-items: center;
    align-content: center;    
    grid-template-columns: auto auto;
    grid-template-areas:
        "Logotype Logotype"
        "P1 P1"
        "P2 P2"
        "LabelName LabelMail"
        "LabelProblem LabelProblem"
        "LabelPriority none"
        "FormButton FormButton";
    gap: 10px;
    font-family: 'Colibri', sans-serif;
    font-size: 14px;
    background-size: cover;
    justify-items: stretch;
    justify-content: center;
    border-radius: 30px;
    background-color: #0000004a;
    /* background: url(/public/Images/form.png) no-repeat center center/cover; */
   

    
}
.P1{
    grid-area: P1;
    font-family: 'Arkhip', sans-serif;
    font-size: 19px;
    text-align: center;
}
.P2{
    grid-area: P2;
}
.LabelName{
    font-family: 'Arkhip', sans-serif;
    grid-area: LabelName;
    display: grid;
    gap: 5px;
}
.LabelMail{
    font-family: 'Arkhip', sans-serif;
    grid-area: LabelMail;
    display: grid;
    gap: 5px;
}
.LabelProblem{
    font-family: 'Arkhip', sans-serif;
    grid-area: LabelProblem;
    display: grid;
    gap: 5px;
}
.LabelPriority{
    font-family: 'Arkhip', sans-serif;
    grid-area: LabelPriority;
    display: grid;
    width: 50%;
    gap: 5px;
}

.Logotype{
    grid-area: Logotype;
    width: 120px;
    height: 40px;
    position: relative;
    left: calc(50% - 60px);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/public/Images/Icon/Logo_2s.png);
}
.Input{
    width: auto;
    height: auto;
    margin: 5px 0px;
    padding: 10px 5px;
    border-radius: 5px;
    border: solid 1px #ffffff;
    background: #ffffff00;
    color: #ffffff !important;
}
.Textarea{
    resize: none;
    width: auto;
    height: auto;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #ffffff;
    background: #ffffff00;
    color: #ffffff !important;
}
.LabelSelect{
    font-family: 'Arkhip', sans-serif;
    font-size: 13px;
    background: #ffffff00;
    border: solid 1px #ffffff;
    color: #fff;
    border-radius: 5px;
    padding: 4px;
    

}



.LabelOption{
    background: #474747e1;
    border: solid 1px #ffffff;
}


.ConteinerQuestion{
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0px;
    padding: 0px; 
    width: 35%;
    height: 100%;
    border-radius: 30px;

    top: 0px;
    right: 0px;
    z-index: 0;
    background: url(/public/Images/Beground_d.png) no-repeat center center / cover;
}
.Question{
    width: 100%;
    height: 85%;
    padding: 1rem;
    
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
    border-radius: 30px;
    background-color: rgb(0 0 0 / 41%);
}
.ListQuestion{
    width: -webkit-fill-available;
    
    display: grid;
    gap: 0.3rem;
    align-items: center;
    justify-items: stretch;
    justify-content: center;
    align-content: center;
    

}
ul{
    
    list-style-type: none;
}
.liQ{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    /* background: rgb(0 0 0 / 41%); */
    padding: 2.5% 1rem;
    /* border-radius: 15px; */
    font-family: 'Arkhip', sans-serif;
    font-size: 0.8rem;
    transition: all 0.3s;
}
.liQ:hover{
   color: aqua;
   background: rgba(32, 32, 32, 0.82);
}
.FAQ{

    font-family: 'Arkhip', sans-serif;
    font-size: 1.15rem;
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}