.Container {
    display: grid;
    border: 2px solid;
    width: calc((100vw - 130px - 6rem) / 7);
    height: max-content;
    border-radius: 10px;
    position: relative;
    text-align: center;
    font-size: 24px;
    margin-bottom: 1rem;
    border-image: linear-gradient(45deg, #00c3ff, #0353ff) 1;
    filter: brightness(1);
    transition: all 0.3s;
}
.Container:hover {
    filter: brightness(1);
}

.StyleImg {
    width: calc((100vw - 130px - 6rem) / 7);
    height: calc((100vw - 130px - 6rem) / 7);
}

.Container .StyleP {
    font-family: 'Arkhip', sans-serif;
    font-size: 16px;
    background: linear-gradient(280deg, #361a64a1 0%, #20328ebf 100%);
    height: max-content;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem  ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: initial;
   
}
.StyleCont{
    display: grid;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 0.5rem 0.5rem;
    width: -webkit-fill-available;
    grid-template-columns: 50% 50%;

}
.StylePA {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #1a1a1a;
    height: max-content;
    padding: 0rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #afafaf;
 
    overflow: hidden;
}
.StylePD{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #1a1a1a;
    height: max-content;
    padding: 0rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #afafaf;
   
    overflow: hidden;
}